{
  "backend_servers": [{
    "title": "OpenBSD Psono",
    "url": "https://{{domain}}/server"
  }],
  "base_url": "https://{{domain}}/",
  "allow_custom_server": false,
  "allow_registration": true,
  "allow_lost_password": false,
  "disable_download_bar": true,
  "authentication_methods": ["AUTHKEY"],
  "saml_provider": []
}

