table <psono_web> { 127.0.0.1 }
table <psono_server> { 127.0.0.1 }

http protocol "httpproxy" {
  match header append "X-Forwarded-For" value "$REMOTE_ADDR"
  match header append "X-Forwarded-By" value "$REMOTE_ADDR:$SERVER_PORT"
  match header set "Keep-Alive" value "$TIMEOUT"
  tcp { nodelay, sack, socket buffer 65536, backlog 100 }

  return error

  match request path "/server/*" tag psonoserver
  match request tagged psonoserver path strip 1
  match request tagged psonoserver forward to <psono_server>
}

relay "proxy" {
  listen on {{publicip}} port 443 tls
  protocol "httpproxy"

  forward to <psono_web> port 80
  forward to <psono_server> port 10100
}

